<div id="buyerAdmin" ui-view>
  <div class="userInfo">
    <div class="wx_info">
      <div class="headImageContainer" ui-sref="buyerAdmin.profile">
        <div class="squareImage" yeye-bg="user.headImageUrl"></div>
      </div>
      <p ng-bind="user.nickname"></p>
    </div>
    <hr/>
    <div class="orderTabsArea">
      <ul><li
        ui-sref="buyerAdmin.orders.list({state: 'waitOffer'})"><span class="icon-waitOffer"></span><br/><span>待报价</span>
        </li><li
        ui-sref="buyerAdmin.orders.list({state: 'waitPay'})"><span class="icon-waitPay"></span><span ng-if="waitPayNumber" class="catchAttention" ng-bind="waitPayNumber"></span><br/><span>待付款</span>
        </li><li
        ui-sref="buyerAdmin.orders.list({state: 'waitDelivery'})"><span class="icon-waitDelivery"></span><br/><span>待发货</span>
        </li><li
        ui-sref="buyerAdmin.orders.list({state: 'delivered'})"><span class="icon-delivered"></span><br/><span>已发货</span>
        </li><li ui-sref="buyerAdmin.orders.list({state: 'completed'})"><span class="icon-completed"></span><br/><span>已完成</span>
      </li></ul>
    </div>
  </div>
  <div class="shortcuts">
    <ul><li class="toDailyActivity"><span class="icon-tagT"></span><br/>今日团购</li><li class="toMyStarts"><span class="icon-star-full"></span><br/>我的星星</li><li class="toStarts"><span class="icon-gift"></span><br/>兑换奖品</li></ul>
  </div>
  <div class="tags">
    <ul>
      <li ui-sref="buyerAdmin.address({state: 'management'})"><span class="icon-location2"></span>收货地址<span>></span></li>
      <hr/>
      <li><span class="icon-buypalQ"></span>如何代购<span>></span></li>
      <hr/>
      <li><span class="icon-quertions"></span>常见问题<span>></span></li>
    </ul>
  </div>
</div>
