<div class="logisticsHead">
  <p><b>订单状态:</b><span class="obvious">国际段运输中</span></p>
  <p>物流公司:EMS</p>
  <p>物流单号:1234567890</p>
</div>
<div class="logisticsContent">
  <b>物流跟踪</b>
  <hr/>
  <div class="logisticsDetail">
    <div class="obvious">
      <div class="topHide"></div>
      <div class="markPoint"><span></span></div>
      <p>到达北京</p>
      <p>2016-01-20 18:00:00</p>
      <hr/>
    </div>
    <div>
      <div class="markPoint"></div>
      <p>到达北京</p>
      <p>2016-01-20 18:00:00</p>
      <hr/>
    </div>
    <div>
      <div class="markPoint"></div>
      <p>到达北京</p>
      <p>2016-01-20 18:00:00</p>
      <hr/>
    </div>
    <div>
      <div class="markPoint"></div>
      <p>到达北京</p>
      <p>2016-01-20 18:00:00</p>
      <hr/>
    </div>
    <div>
      <div class="bottomHide"></div>
      <div class="markPoint"></div>
      <p>到达北京</p>
      <p>2016-01-20 18:00:00</p>
      <hr/>
    </div>
  </div>
</div>
<div></div>
