<div class="logisticsHead">
  <p><b>物流状态：</b><span class="obvious" ng-bind="logistics.message"></span></p>
  <hr/>
  <div ng-repeat="phase in logistics.phases track by $index">
    <hr id="logisticsSplit" ng-show="$odd"/>
    <p>物流公司：<span ng-bind="phase.name"></span></p>
    <p>物流单号：<span ng-bind="phase.number"></span></p>
  </div>
</div>
<div class="logisticsContent">
  <b>物流跟踪</b>
  <hr/>
  <div ng-if="logistics.track_log.length == 0">暂无物流信息</div>
  <div class="logisticsDetail">
    <div ng-repeat="log in logistics.track_log | orderBy:log.time:true track by $index" ng-class="{'obvious': $first}">
      <div ng-show="$first" class="topHide"></div>
      <div ng-show="$last" class="bottomHide"></div>
      <div ng-show="$first" class="markPoint"><div></div></div>
      <div ng-show="!$first" class="markPoint"></div>
      <p ng-bind="log.context"></p>
      <p ng-bind="log.time"></p>
      <hr/>
    </div>
  </div>
</div>
<div></div>
