<div class="orderDetail" ui-view="">
  <div class="chooseAddressArea">
    <div class="box" ui-sref="buyerAdmin.address({state:'list'})">
      <div><span class="icon-location2"></span></div>
      <div>
        <div>
          <p>王聪 18810541172</p>
          <p>北京市 北京市 海淀区</p>
          <p>成府路五道口华清嘉园5号楼302室</p>
        </div>
      </div>
      <div><span>></span></div>
    </div>
  </div>
  <div class="contentArea">
    <div><span class="icon-order"></span><span> 韩国</span></div>
    <hr/>
    <div>
      <over-view title="卡了比麦片800g" number="4" image="{{hlj_url.defaultItemPic}}"></over-view>
    </div>
    <hr/>
    <div>
      <over-view title="卡了比麦片800g" number="4" image="{{hlj_url.defaultItemPic}}"></over-view>
    </div>
    <hr/>
    <div class="orderPriceArea">
      <span>共2件</span>
      <span class="right">合计：<b>￥200.00</b></span>
    </div>
  </div>
  <div class="timeArea">
    <p>订单编号：YE14478889009889</p>
    <p>提交时间：2015-12-04 18:13:53</p>
    <p>报价时间：2015-12-04 18:13:53</p>
  </div>
  <div class="fixbottom">
    <div class="noAddressAlert">请先添加收货地址</div>
    <div class="btnWithInfo">
      <span>合计：<span>￥200.00</span></span>
      <div class="yeye_btn rect_btn">确认付款</div>
      <div class="justify_fix"></div>
    </div>
  </div>
</div>
