<div class="orderDetail" ui-view="">
  <div class="chooseAddressArea">
    <div class="box" ng-click="toChooseAddress()">
      <div><span class="icon-location2"></span></div>
      <div>
        <div class="noAddressChose" ng-if="!chose.address">点击添加收货地址</div>
        <div ng-if="chose.address">
          <p>{{chose.address.receiver_name}} {{chose.address.receiver_mobile}}</p>
          <p>{{chose.address.province.name}} {{chose.address.city.name}} {{chose.address.county.name}}</p>
          <p ng-bind="chose.address.street_address"></p>
        </div>
      </div>
      <div><span>></span></div>
    </div>
  </div>
  <div class="contentArea">
    <div><span class="icon-order"></span><span> {{order.country}}</span></div>
    <hr/>
    <div ng-repeat="item in order.details track by $index">
      <div>
        <over-view title="{{substr(item.title,64)}}" number="{{item.number}}" image="{{item.pic_urls[0] ? item.pic_urls[0] : hlj_url.defaultItemPic}}"></over-view>
      </div>
      <hr/>
    </div>
    <div class="orderPriceArea">
      <span>共{{order.number}}件</span>
      <span class="right">合计：<b yeye-price="order.price"></b></span>
    </div>
  </div>
  <div class="timeArea">
    <p>订单编号：{{order.order_number}}</p>
    <p>提交时间：{{order.submit_time}}</p>
    <p>报价时间：{{order.offer_time}}</p>
  </div>
  <div class="placeholder"></div>
  <div class="fixbottom">
    <div class="noAddressAlert center" ng-if="!chose.address && check">请先添加收货地址</div>
    <div class="btnWithInfo" ng-click="check = true">
      <span>合计：<span yeye-price="order.price"></span></span>
      <div class="yeye_btn rect_btn" ng-disabled="!chose.address" ng-click="sureToPay(order)">确认付款</div>
      <div class="justify_fix"></div>
    </div>
  </div>
</div>
